mat-card {
    width: 225px;
    padding: 30px 16px 20px;
    background: var(--card-color);
}

:host ::ng-deep .mat-card {
    box-shadow: 3px 6px 6px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}