<app-auth-card cardTitle="Sign Up">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <app-auth-input 
                [control]="signupForm.get('email')"
                label="Email" 
                type="text"></app-auth-input>
            <app-auth-input 
                [control]="signupForm.get('password')"
                label="Password" 
                type="password"></app-auth-input>
            <app-auth-input 
                [control]="signupForm.get('confirmPassword')"
                label="Confirm Pass" 
                type="password"></app-auth-input>
        </div>
        
        <div class="btn-container">
            <button [disabled]="!signupForm.valid" mat-raised-button type="submit">Submit</button>
        </div>
    </form>
    <app-auth-link [signup]="true"></app-auth-link>
</app-auth-card>