:host, form {
    display: flex;
    justify-content: center;
}

:host {
    align-items: center;
    height: 100vh;
}

form {
    flex-direction: column;
}

.input-container {
    margin-top: 20px;
}

.password-match h5 {
    margin: 0 0 0 8px;
    color: var(--error-color);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}