:host, form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

:host {
    align-items: center;
    height: 100vh;
}

.input-container {
    margin-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

button {
    background: #91ffcc;
    font-weight: 600;
}