<app-auth-card cardTitle="Sign In">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <app-auth-input 
                [control]="signinForm.get('email')"
                label="Email" 
                type="text"></app-auth-input>
            <app-auth-input 
                [control]="signinForm.get('password')"
                label="Password" 
                type="password"></app-auth-input>
        </div>
        
        <div class="btn-container">
            <button 
                class="btn-submit" 
                [disabled]="!signinForm.valid" 
                mat-raised-button 
                type="submit">Submit
            </button>
        </div>
    </form>
    <app-auth-link [signup]="false"></app-auth-link>
</app-auth-card>