/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Kanit:wght@300&display=swap');

body {
    --bkg-color: linear-gradient(120deg, rgba(161,255,221,1) 20%, rgba(45,176,255,1) 53%, rgba(167,223,255,1) 80%);
    --header-link-color: rgba(29, 44, 52);
    --card-color: rgba(255, 235, 160);
    --input-color: rgba(244, 255, 250);
    --input-text-color: rgba(57, 104, 133);
    --btn-color: rgba(145,255,204,1);
    --error-color: rgb(255, 0, 0);
}

body.dark-theme {
    --bkg-color: rgb(41, 41, 41);
}

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif !important;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bkg-color);
}

.btn-submit {
    background: var(--btn-color);
    font-weight: 600;
}