.container {
    margin-top: 20px;
}

.container h5 {
    margin: 0;
    color: var(--header-link-color);
}

.container a {
    cursor: pointer;
    text-decoration: none;
    color: var(--header-link-color);
    font-weight: 600;
}